__pycache__/
*.pyc
.env
venv/
.prod/
.DS_Store
*.joblib
models/
data/
notes.txt
# Python
__pycache__/
.ipynb_checkpoints/

# Local database
predictions.db

# Virtual env
.venv/
venv/

# Mac
.DS_Store

# Logs
app.log
